<div class = "base-container mw-sm">
  <div class = "row">
    <div class = "mx-auto" style="width: 550px;">
      <h2 class = "mt-5 pt-5 text-center"><%= t('.sign_in') %></h1>
    </div>
  </div>

  <div class = "row">
    <div class = "mx-auto" style="width: 550px;">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <div class="d-flex">
            <%= f.label :password %>
            <small class="ml-auto">
              <a href="/users/password/new">パスワードの再設定はこちら</a>
            </small>
          </div>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' do %>
              <%= resource.class.human_attribute_name('次回から自動的にログイン') %>
            <% end %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.submit  t('.sign_in'), class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class = "row">
      <div class = "mx-auto" style="width: 550px;">
        <div class="card mt-5">
          <h5 class="card-header">案内</h5>
          <div class="card-body">
            <p class="card-text">
              アカウントの新規登録をまだ済まされていない方は，以下のリンクからお願いいたします。
            </p>
            <a class="btn btn-success btn-block" href="/users/sign_up">新規登録</a>
          </div>
        </div>
        
        <div class="card my-5">
          <h5 class="card-header">公開範囲について</h5>
          <div class="card-body">
            <p class="card-text">
              こちらの教材は，やんばるエキスパート，やんばるCODEの会員の方のみの限定公開となっています。
            </p>
            <p class="card-text">
              申し込みは以下のページよりお願いいたします。
            </p>
            <p><a href="https://yanbaru-expert.com/">やんばるエキスパート</a></p>
            <p><a href="https://utina.yoshitokamizato.com/entry/2020/04/20/164421">やんばるCODE オフライン（月額プラン）</a></p>
            <p><a href="https://utina.yoshitokamizato.com/entry/2020/05/19/103519">やんばるCODE オフライン（住み込みプラン）</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class = "bg-primary">
  <div class = "text-center">
    <a class="text-white" target="_blank" rel="noopener" href="https://line.me/R/ti/p/%40fyp8311b">LINE</a>
    <a class="text-white" target="_blank" rel="noopener" href="https://twitter.com/yoshito410kam">Twitter</a>
    <a class="text-white" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">YouTube</a>
    <a class="text-white d-none d-md-inline" target="_blank" rel="noopener" href="https://ja-jp.facebook.com/yoshito.kamizato">Facebook</a>
  </div>
</footer>